<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProiectFinal.Properties.Settings.StudentiConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;D:\LAPTOP\Desktop\DESKTOP\Ovidius\3 sem 1\TAP\ProiectFinal\Studenti.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ProiectFinal.Properties.Settings.StudentiConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;D:\LAPTOP\Desktop\DESKTOP\Ovidius\3 sem 1\TAP\ProiectFinal\Studenti.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>